.interrupt-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: auto;
  border-collapse: initial;
  border: none;
  background-color: transparent;
}

.interrupt-wrapper tr {
  border: none !important;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.interrupt-wrapper td {
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  background-color: transparent;
}

.interrupt-wrapper td img {
  background-color: transparent;
}

.interrupt-wrapper .conversation-popovers {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .25);
  padding: 10px;
  background: white;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
}

.conversation-popovers:before, .conversation-popovers:after {
  content: '';
  border-width: 10px;
  border-style: solid;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  border-color: transparent;
}

.conversation-popovers:before {
  margin-right: -19px;
  z-index: 999;
  border-left-color: white;
}

.conversation-popovers:after {
  margin-right: -20px;
  border-left-color: rgba(0, 0, 0, .25);
}

.interrupt-contextmenu {
  position: fixed;
  background: #151515;
  border-radius: 3px;
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  display: none;
  padding: 3px 0;
}

.interrupt-contextmenu li {
  padding: 2px 10px;
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid #424242;
}

.interrupt-contextmenu li:last-child {
  border-bottom: none;
}

.interrupt-contextmenu li:hover {
  background: #303030;
}
